* {
  margin: 0;
  padding: 0;
}

p,
span,
button {
  font-family: "Manrope";
}

header {
  background-image: url("/assets/img/hero-banner.png");
}

/* .recipesWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 66px;
  justify-content: center;
} */

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 380px;
  height: 730px;
  overflow: hidden;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 10px 0;
}

.info-recipes {
  padding: 25px;
}

.rotate {
  transform: rotateX(180deg);
}

.selectedTagsWrapper {
  display: flex;
  padding-left: 104px;
  gap: 15px;
  margin-bottom: 45px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 203px;
  height: 53px;
  border-radius: 10px;
  background: #ffd15b;
}

#ingredientsList li:hover,
#appliancesList li:hover,
#ustensilsList li:hover {
  background-color: #ffd15b;
}

.timer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 25px;
  border-radius: 14px;
  background: #ffd15b;
  top: 10px;
  right: 10px;
  font-size: 12px;
}
